html, body {
    height: 100vh;
    /*background: deeppink;*/
    margin: 0;
    padding: 0;
}

.App {
    /*background: mediumpurple;*/
}

.animator-layout {
    height: 100vh;
    width: 100vw;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.timeline {
    /*background: orange;*/
    border-top: 1px solid darkcyan;

    display: flex;
    column-gap: 10px;
    align-items: center;
    /*padding: 10px;*/
    /*overflow-y: auto;*/
}


.timeline-frame-wrapper {
    flex: 1;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 10px;
    padding-bottom: 5px;
}

.timeline-frame-wrapper .grid {
    /*margin-right: 10px;*/
    /*width: 90px;*/
}

.work-area {
    /*background: crimson;*/
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.grid-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    /*background: pink;*/
}

.work-area .grid {
    /*background: cornflowerblue;*/
    margin: 10px;
    justify-content: center;
}

.grid-tiny-wrapper {
    flex-shrink: 0;
}

.grid.tiny {
    /*filter: drop-shadow(5px 5px 5px darkcyan);*/
    /*background: coral;*/
}

.grid.tiny .pixel {
    height: 6px;
    width: 6px;
}

.pixel {
    display: table-cell;
    height: 50px;
    width: 50px;
    border: 0.5px solid darkcyan;
    user-select: none;
}

.color-palette {
    display: flex;
    width: 400px;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
}

.palette-button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.palette-button-group input[type=color] {
    height: 40px;
    width: 40px;
}

.active-frame {
    border-bottom: 3px solid magenta;
}

.frame-actions {
    display: flex;
    justify-content: center;
}

.frame-actions button {
    height: 60px;
    width: 60px;
    font-size: 40px;
    text-align: center;
    background: lightcyan;
    border: 1px solid darkcyan;
    color: darkcyan;
    /*margin: 5px 0 5px 0;*/
    margin: 10px;
}

.play-pause-button {
    height: 60px;
    width: 60px;
    font-size: 40px;
    text-align: center;
    background: lightcyan;
    border: 1px solid darkcyan;
    color: darkcyan;
    margin: 5px 0 30px 0;
}


.play-pause-button.paused {
    filter: drop-shadow(2px 2px 2px darkcyan);
}

.play-pause-button.playing {
    border: 2px solid magenta;
}

.speed-label {
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin: 10px;*/
    font-size: 30px;
    color: darkcyan;
}

.speed-label input {
    margin-left: 5px;
    width: 50px;
}

.picker-activator {
    margin-top: 5px;
    height: 25px;
    width: 25px;
}


.pressed {
    background: #014949 !important;
}


.nav-and-crud button {
    font-size: 10px;
    border: 0;
    background: none;
    color: darkcyan;
    text-decoration: underline darkcyan;
}

.nav-and-crud span {
    color: darkcyan;
}

.delete-animation-button {
    color: red !important;
    text-decoration: underline red !important;
}

.list-view-nav-button {
}

.save-animation-button {
}

.notification {
    position: absolute;
    top: 0;
    right: 0;
    border: 2px solid darkcyan;
    height: 50px;
    width: 150px;
    padding: 5px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notification.hidden {
    display: none;
}

.modal-background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgb(10, 10, 10, .8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background: white;
    height: 200px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.modal-buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.modal-button {
    width: 80px;
}

.modal-button.ok {
    background: green;
    color: lightgreen;
    border: 1px solid lightgreen;
}

.modal-button.cancel {
}